---
layout: default
---

<script src="/static/app.js"></script>
<script>
  app.initialize();
</script>

<h1>{{ site.title }}</h1>

<ul class="song-list">
  {% for song in site.pages %}
  {% if song.url != '/index.html' and song.url != '/manifest.appcache' %}
    <li>
      <a href="{{ song.url }}">{{ song.title }}</a>
      {% if song.video %}
        <a href="{{ song.video }}" class="video" target="_blank">
          <img src="/static/play.png">
        </a>
      {% endif %}
    </li>
  {% endif %}
  {% endfor %}
</ul>

<p>
  <a href="https://github.com/mgax/o2-songs#cum-adaug-un-c%C3%A2ntec"
      class="btn btn-xs btn-primary">cântec nou</a>
</p>

<p class="footer">actualizat: {{ site.time | date: "%d-%b-%Y %H:%M"  }}</p>
