---
layout: default
---

<script>
(function() {
  'use strict';

  $('body').addClass('js-loading');
  $(document).ready(initialize);

  function normalize(text) {
    return text
        .toLowerCase()
        .replace(/[ăâ]/g, 'a')
        .replace(/î/g, 'i')
        .replace(/ș/g, 's')
        .replace(/ț/g, 't');
  }

  function cmp(a, b) {
    return normalize($(a).text()) < normalize($(b).text()) ? -1 : 1;
  }

  function initialize() {
    var song_items = $('.song-list > li').remove().toArray().sort(cmp);
    $('.song-list').append(song_items);
    $('body').removeClass('js-loading');
    $('.footer').append("; cântece: " + song_items.length);
  }
})();
</script>

<h1>{{ site.title }}</h1>

<ul class="song-list">
  {% for song in site.pages %}
  {% if song.url != '/index.html' and song.url != '/manifest.appcache' %}
    <li>
      <a href="{{ song.url }}">{{ song.title }}</a>
      {% if song.video %}
        <a href="{{ song.video }}" class="video" target="_blank">
          <img src="/static/play.png">
        </a>
      {% endif %}
    </li>
  {% endif %}
  {% endfor %}
</ul>

<p>
  <a href="https://github.com/mgax/o2-songs#cum-adaug-un-c%C3%A2ntec"
      class="btn btn-xs btn-primary">cântec nou</a>
</p>

<p class="footer">actualizat: {{ site.time | date: "%d-%b-%Y %H:%M"  }}</p>
