<!DOCTYPE html>
<html manifest="/manifest.appcache">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-title" content="Cântece O2">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/static/icon.png">
    <link rel="shortcut icon" sizes="196x196" href="/static/icon.png">

    {% for url in site.cdn.css %}
      <link rel="stylesheet" href="{{ url }}">
    {% endfor %}
    <link rel="stylesheet" href="/static/style.css">

    {% for url in site.cdn.js %}
      <script src="{{ url }}"></script>
    {% endfor %}
  </head>

  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>

  <script>
    if(window.applicationCache) {
      applicationCache.addEventListener('updateready', function() {
        // page has been updated; refresh
        window.applicationCache.swapCache();
        window.location.reload();
      });
    }
  </script>
</html>
